RewriteEngine On

RewriteRule ^(todos|entries|categories)$ index.php?ACTION=$0
RewriteRule ^(todos|entries|categories)/\d*$ index.php?ACTION=$0
RewriteRule ^(todos|entries|categories)/\d*/$ index.php?ACTION=$0

RewriteRule ^.*$ index.php